:root{
	--v-primary-base:#03a9f4;
}
.subheader{
	background-color:var(--v-primary-base)
}
.modal .modal-header{
	background-color:var(--v-primary-base)
}
.modal-content{
	border-bottom:5px solid var(--v-primary-base)
}
button.btn, a.btn{
	background-color: var(--v-primary-base);
}
.btn:hover, .btn.active, .btn:focus {
	background-color: var(--v-primary-base);
	border-color: var(--v-primary-base);
	color: #ffffff;
}