<div class="modal" ng-controller="KisBpmAssignmentPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h3 translate class="modal-title">分配审批人员</h3>
            </div>
            <div class="modal-body">
            
            	<!--<div class="row row-no-gutter">
            		<div class="form-group">
            			<label for="assigneeField">{{'PROPERTY.ASSIGNMENT.ASSIGNEE' | translate}}</label>
            			<input type="text" id="assigneeField" class="form-control" ng-model="assignment.assignee" placeholder="{{'PROPERTY.ASSIGNMENT.ASSIGNEE_PLACEHOLDER' | translate}}" />
            		</div>
            	</div>-->
            	
                <!--<div class="row row-no-gutter">
                    <div class="form-group">
                    	<label for="userField">{{'PROPERTY.ASSIGNMENT.CANDIDATE_USERS' | translate}}</label>
                        <div ng-repeat="candidateUser in assignment.candidateUsers">
            	            <input id="userField" class="form-control" type="text" ng-model="candidateUser.value" />
            	            <i class="glyphicon glyphicon-minus clickable-property" ng-click="removeCandidateUserValue($index)"></i>
            	            <i ng-if="$index == (assignment.candidateUsers.length - 1)" class="glyphicon glyphicon-plus clickable-property" ng-click="addCandidateUserValue($index)"></i>
                        </div>
                   	</div>
            
                    <div class="form-group">
                    	<label for="groupField">{{'PROPERTY.ASSIGNMENT.CANDIDATE_GROUPS' | translate}}</label>
                        <div ng-repeat="candidateGroup in assignment.candidateGroups">
            	          	<input id="groupField" class="form-control" type="text" ng-model="candidateGroup.value" />
            	          	<i class="glyphicon glyphicon-minus clickable-property" ng-click="removeCandidateGroupValue($index)"></i>
            	          	<i ng-if="$index == (assignment.candidateGroups.length - 1)" class="glyphicon glyphicon-plus clickable-property" ng-click="addCandidateGroupValue($index)"></i>
                        </div>
                    </div>
                </div>-->
                <div>
                    <div style="float: left;margin-right: 20px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ng-model="type" value="1">
                            <label class="form-check-label" for="exampleRadios1">
                                流程发起人
                            </label>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 20px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ng-model="type" value="2">
                            <label class="form-check-label" for="exampleRadios2">
                                指定用户
                            </label>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 20px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" ng-model="type" value="3">
                            <label class="form-check-label" for="exampleRadios3">
                                部门指派
                            </label>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 20px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" ng-model="type" value="4">
                            <label class="form-check-label" for="exampleRadios4">
                                角色指派
                            </label>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div style="margin-top: 10px;border-bottom: 1px solid #e5e5e5;height: 1px;" ng-if="type"></div>

                <div ng-show="type==1" style="margin-top: 20px">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="defaultCheck1" ng-model="initiatortype" ng-checked="initiatortype==1">
                        <label class="form-check-label" for="defaultCheck1">
                            直属领导
                        </label>
                    </div>
                </div>

                <div ng-show="type==2" style="margin-top: 20px">
                    <label for="userid">指定用户</label>
                    <div class="input-group">
                        <input type="text" class="form-control" style="float: left;width:400px" readonly placeholder="请选择指定用户" id="userid" ng-model="usershow">
                        <button class="btn btn-primary" type="button" ng-click="openForSelectPerson()" style="float: left;">选择</button>
                        <button class="btn btn-primary" type="button" ng-click="clearForSelectPerson()" style="float: left;">清空</button>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-check" style="margin-top: 20px">
                        <input class="form-check-input" type="checkbox" value="1" id="defaultCheck2" ng-model="usertype" ng-checked="usertype==1">
                        <label class="form-check-label" for="defaultCheck2">
                            直属领导
                        </label>
                    </div>
                </div>

                <div ng-show="type==3" style="margin-top: 20px">
                    <label for="deptid">部门</label>
                    <div class="input-group">
                        <input type="text" class="form-control" style="float: left;width:400px" readonly placeholder="请选择部门" id="deptid" ng-model="deptname">
                        <button class="btn btn-primary" type="button" ng-click="openForSelectDept()" style="float: left;">选择</button>
                        <button class="btn btn-primary" type="button" ng-click="clearForSelectDept()" style="float: left;">清空</button>
                        <div style="clear: both"></div>
                    </div>
                    <div style="margin-top: 15px;font-weight: bold"><label>包括</label></div>
                    <div style="margin-top: 5px;">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deptradio" id="exampleRadios5" ng-model="depttype" value="1">
                            <label class="form-check-label" for="exampleRadios5">
                                直属成员
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deptradio" id="exampleRadios6" ng-model="depttype" value="2">
                            <label class="form-check-label" for="exampleRadios6">
                                部门领导
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-show="type==4" style="margin-top: 20px">
                    <label for="roleid">角色</label>
                    <select ng-model="roleid" id="roleid" style="min-width: 200px" class="form-control">
                        <option value="" ng-selected="x.id == roleid">请选择</option>
                        <option ng-repeat="x in roles" value="{{x.id}}" ng-selected="x.id == roleid">{{x.rname}}</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>

    <!--选人弹窗-->
    <div class="modal fade" id="selectmodal" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeForSelect()">&times;</button>
                    <h3 translate class="modal-title">选择</h3>
                </div>
                <div class="modal-body userbody">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" style="float: left;width:200px" placeholder="请输入工号或姓名" id="keyword" ng-model="searchkeyword">
                                <button class="btn btn-primary" type="button" ng-click="searchbt()" style="float: left;" small>搜索</button>
                                <div style="clear: both"></div>
                            </div>
                            <div ng-show="isSearch">
                                <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 10px">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">组织</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">岗位</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div id="treeforzz" class="ztree" style="margin-top: 20px"></div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div id="treeforgw" class="ztree" style="margin-top: 20px"></div>
                                    </div>
                                </div>
                            </div>
                            <table class="table" ng-show="!isSearch" style="margin-top: 2px">
                                <thead>
                                <tr>
                                    <th>工号(姓名)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in searchs">
                                    <td height="30">{{user.name}}<i class="glyphicon glyphicon-plus" style="font-size:15px;cursor: pointer;" ng-click="addUser($index)"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin-bottom:15px;font-size: 16px;font-weight: bold">已选中人员</div>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>工号(姓名)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="user in records">
                                        <td height="30">{{user.name}}<i class="glyphicon glyphicon-remove" style="font-size:15px;cursor: pointer;" ng-click="removeUser($index)"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="closeForSelect()" class="btn btn-primary" translate>取消</button>
                    <button ng-click="saveForSelect()" class="btn btn-primary" translate>确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--选人弹窗-->

    <!--选部门弹窗-->
    <div class="modal fade" id="selectdept" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeForDept()">&times;</button>
                    <h3 translate class="modal-title">选择</h3>
                </div>
                <div class="modal-body userbody">
                    <div class="row">
                        <div id="treefordept" class="ztree"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="closeForDept()" class="btn btn-primary" translate>取消</button>
                    <button ng-click="saveForDept()" class="btn btn-primary" translate>确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--选人弹窗-->

</div>