<div class="modal" ng-controller="KisBpmCustomPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h3 translate class="modal-title">自定义表单</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div style="float: left;margin-right: 20px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ng-model="type" value="1">
                            <label class="form-check-label" for="exampleRadios1">
                                选择自定义表单
                            </label>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 20px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ng-model="type" value="2">
                            <label class="form-check-label" for="exampleRadios2">
                                手工输入表单路径
                            </label>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div style="margin-top: 10px;border-bottom: 1px solid #e5e5e5;height: 1px;"></div>

                <div class="form-group" ng-show="type==1" style="margin-top: 20px">
                    <label for="selectCustom">选择自定义表单：</label>
                    <select ng-model="selecteValue" id="selectCustom" style="min-width: 200px" class="form-control">
                        <option value="" ng-selected="x.id == selecteValue">请选择</option>
                        <option ng-repeat="x in customs" value="{{x.id}}" ng-selected="x.id == selecteValue">{{x.ctitle}}</option>
                    </select>
                </div>

                <div class="form-group" ng-show="type==2" style="margin-top: 20px">
                    <label for="inputCustom">手工输入表单路径：</label>
                    <input type="text" id="inputCustom" class="form-control" ng-model="inputValue" placeholder="请填写" />
                </div>

            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>


</div>